@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  display: none;
}

.ant-switch-checked {
  background: #016b6c !important;
}

input[type="radio"] {
  accent-color: #115e59 !important;
}

.react-daterange-picker__wrapper {
  border: none !important; /* Change this to your desired border color */
}

/* .tag-input-container {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
} */

/* .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */

/* .tag {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
} */

/* .tag-remove {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
} */

/* .tag-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  min-width: 100px;
} */
